.git/*
env/
venv/
.venv
.venv/
tests
pytest.ini
__pycache__/
*.py[cod]
yatube1

.vscode/
sent_emails
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
posts/static/

db.sqlite3
